{#-
Version: 1.0.2

Sample data for this template

--- # Test data to for ios
version: 2
data:
-   template: ios_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: IOS-RTR02
            management_ip: 10.99.222.23
            as_path_acls:
            -   as_path_acl_name: ASP-TEST-1
                sequences:
                -   permit_deny: permit
                    regex: ^22650_26541$
                    sequence: 1

                -   permit_deny: deny
                    regex: ^_26541$
                    sequence: 2

-#}
{% for as_path_acl in device.as_path_acls %}
{% if as_path_acl.note %}
{% set note = as_path_acl.note %}

{% include "common/note.jinja2" %}

{% endif %}
    {% for sequence in as_path_acl.sequences %}
ip as-path access-list {{ as_path_acl.as_path_acl_name }} {{ sequence.permit_deny }} {{ sequence.regex }}
    {% endfor %}
{% endfor %}