{#-
Version: 1.0.1

Sample data for this template

--- # Test data to for ios
common:
    template: ios_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: IOS-RTR02
            management_ip: 10.99.222.23
            standard_acls:
            -   acl_name: ACL-STANDARD-1
                sequences:
                -   permit_deny: permit
                    sequence: 10
                    source_network: 192.168.1.0 0.0.0.255

                -   permit_deny: deny
                    sequence: 20
                    source_network: 192.168.2.0 0.0.0.255

                -   permit_deny: permit
                    sequence: 30
                    source_network: 192.168.3.0 0.0.0.255

            -   acl_name: ACL-STANDARD-2
                sequences:
                -   permit_deny: permit
                    sequence: 10
                    source_network: 192.168.4.0 0.0.0.255

                -   permit_deny: deny
                    sequence: 20
                    source_network: 192.168.5.0 0.0.0.255

                -   permit_deny: permit
                    sequence: 30
                    source_network: 192.168.6.0 0.0.0.255

-#}
{% for acl in device.standard_acls %}
ip access-list standard {{ acl.acl_name }}
    {% for sequence in acl.sequences %}
  {{ sequence.sequence }} {{ sequence.permit_deny }} {{ sequence.source_network }}
    {% endfor %}
{% endfor %}