{#-
Version: 1.0.3
Updated: 6/1/2018

Sample data for this template

--- # Test data to for ios
version: 2
data:
-   template: ios_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: IOS-RTR02
            management_ip: 10.99.222.23
            prefix_lists:
            -   prefix_list_name: PL-TEST-1
                sequences:
                -   network: 192.168.1.0/24
                    permit_deny: permit
                    sequence: 5

                -   le_ge: le
                    le_ge_value: 32
                    network: 192.168.2.0/24
                    permit_deny: deny
                    sequence: 10

                -   le_ge: ge
                    le_ge_value: 16
                    network: 192.168.3.0/24
                    permit_deny: permit
                    sequence: 15

-#}
{% for prefix_list in device.prefix_lists %}
{% if prefix_list.note %}
{% set note = prefix_list.note %}

{% include "common/note.jinja2" %}

{% endif %}
    {% for sequence in prefix_list.sequences %}
        {% if sequence.le_ge %}
ip prefix-list {{ prefix_list.prefix_list_name|required }} seq {{ sequence.sequence|number }} {{ sequence.permit_deny|p_or_d }} {{ sequence.network|subnet }} {{ sequence.le_ge }} {{ sequence.le_ge_value|mask_cidr }}
        {% else %}
ip prefix-list {{ prefix_list.prefix_list_name|required }} seq {{ sequence.sequence|number }} {{ sequence.permit_deny|p_or_d  }} {{ sequence.network|subnet }}
        {% endif %}
    {% endfor %}
{% endfor %}