{#-
Version: 1.0.3
Updated: 5/31/2018

Sample data for this template

--- # Test data to for ios
version: 2
data:
-   template: ios_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: IOS-RTR02
            management_ip: 10.99.222.23
            ospf:
                ospf_process: 500
                router_id: 172.16.1.1
                networks:
                -   area: 0
                    inverse_mask: 0.0.0.255
                    network: 192.168.1.0

                -   area: 10
                    inverse_mask: 0.0.0.255
                    network: 192.168.2.0

                -   area: 20
                    inverse_mask: 0.0.0.255
                    network: 192.168.3.0

                passive_interfaces:
                -   g0/0
                -   vlan100

-#}
{% if device.ospf.note %}
{% set note = device.ospf.note %}

{% include "common/note.jinja2" %}

{% endif %}
router ospf {{ device.ospf.ospf_process|as_number }}
{% if device.ospf.router_id %}
  router-id {{ device.ospf.router_id|u_ip_address }}
  log-adjacency-changes
{% endif %}
{% if device.ospf.passive_interfaces %}
    {% for interface in device.ospf.passive_interfaces %}
  passive-interface {{ interface }}
    {% endfor %}
{% endif %}
{% if device.ospf.networks %}
    {% for network in device.ospf.networks %}
  network {{ network.network }} {{ network.inverse_mask }} area {{ network.area }}
    {% endfor %}
{% endif %}