{#-
Version: 1.0.1

Sample data for this template

--- # Test data to for ios
common:
    template: ios_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: IOS-RTR02
            management_ip: 10.99.222.23
            standard_community_lists:
            -   community_list_name: CL-STAND-1
                sequences:
                -   community: '22650:1'
                    permit_deny: permit
                    sequence: 1

                -   community: '22650:25'
                    permit_deny: permit
                    sequence: 1

                -   community: no-export
                    permit_deny: permit
                    sequence: 1

-#}
{% for community_list in device.standard_community_lists %}
{% if community_list.note %}
{% set note = community_list.note %}

{% include "common/note.jinja2" %}

{% endif %}
    {% for sequence in community_list.sequences %}
ip community-list standard {{ community_list.community_list_name }} {{ sequence.permit_deny }} {{ sequence.community }}
    {% endfor %}
{% endfor %}