{#-
Version: 1.0.4
Updated: 6/1/2018

Sample data for this template

--- # Test data to for ios
version: 2
data:
-   template: ios_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: IOS-RTR01
            management_ip: 10.99.222.22
            route_maps:
            -   route_map_name: RM-TEST-1
                sequences:
                -   sequence: 10
                    permit_deny: permit
                    description: DESCRIPTION
                    continue: 20
                    match:
                    -   match_item: ip address prefix-list
                        match_item_name: PL-A
                    set:
                    -   set_item: community
                        set_item_to: "1:1"

                -   sequence: 20
                    permit_deny: permit
                    description: DESCRIPTION
                    match:
                    -   match_item: ip address prefix-list
                        match_item_name: PL-A
                    set:
                    -   set_item: community
                        set_item_to: 1:2 additive
                    -   set_item: local-preference
                        set_item_to: 500

Notes:

match_item options

ip address prefix-list
as-path
ip address
community
extcommunity

set_item options

local-preference
weight
community
as-path prepend
as-path prepend last-as

-#}
{% for route_map in device.route_maps %}
{% if route_map.note %}
{% set note = route_map.note %}

{% include "common/note.jinja2" %}

{% endif %}
    {% for sequence in route_map.sequences %}
route-map {{ route_map.route_map_name|required }} {{ sequence.permit_deny|p_or_d }} {{ sequence.sequence|number }}
{% if sequence.description %}
  description {{ sequence.description|required }}
{% endif %}
        {% for match in sequence.match %}
  match {{ match.match_item|rmap_match_items }} {{ match.match_item_name|required }}
        {% endfor %}
        {% if sequence.continue %}
  continue
        {% endif %}
        {% for set in sequence.set %}
  set {{ set.set_item|rmap_set_items }} {{ set.set_item_to|required  }}
        {% endfor %}
    {% endfor %}
{% endfor %}