{#-
Version: 1.0.5
Updated: 6/1/2018

Sample data for this template

--- # Test data to for ios
version: 2
data:
-   template: ios_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: IOS-RTR00
            management_ip: 10.99.222.21
            routed_interfaces:
            -   bfd: true
                description: description a
                interface: g0/0
                ip: 10.1.1.1
                mask: 255.255.255.252
                tag: 701

            -   description: description b
                interface: g0/1
                remove: true
    -   device:
        -   devicename: IOS-RTR01
            management_ip: 10.99.222.22
            routed_interfaces:
            -   acl_in: ACL-IN
                acl_out: ACL-OUT
                description: description a
                interface: g0/10
                ip: 10.1.1.1
                mask: 255.255.255.252

            -   description: description b
                interface: g0/20
                ip: 10.2.2.1
                mask: 255.255.255.252
                vrf: TEST_VRF

-#}
{% for interface in device.routed_interfaces %}
{% if interface.note %}
{% set note = interface.note %}

{% include "common/note.jinja2" %}

{% endif %}
interface {{ interface.interface|required }}
 {% if interface.remove %}
 no description
 {% else %}
 description {{ interface.description|required }}
 {% endif %}
 {% if interface.vrf %}
     {% if interface.remove %}
 no ip vrf forwarding {{ interface.vrf|required }}
     {% else %}
 ip vrf forwarding {{ interface.vrf|required }}
     {% endif %}
 {% endif %}
 {% if interface.tag %}
     {% if interface.remove %}
 no ncapsulation dot1q {{ interface.tag|vlan }}
     {% else %}
 encapsulation dot1q {{ interface.tag|vlan }}
     {% endif %}
 {% endif %}
 no switchport
 {% if interface.bfd %}
 bfd interval 250 min_rx 250 multiplier 3
 {% endif %}
 {% if interface.remove %}
 no ip address
 {% else %}
 ip address {{ interface.ip|u_ip_address }} {{ interface.mask|mask_standard }}
 {% endif %}
 no ip redirects
 no ip proxy-arp
 arp timeout 270
 {% if interface.acl_in %}
     {% if interface.remove %}
 no ip access-group {{ interface.acl_in|required }} in
     {% else %}
 ip access-group {{ interface.acl_in|required }} in
     {% endif %}
 {% endif %}
 {% if interface.acl_out %}
     {% if interface.remove %}
 no ip access-group {{ interface.acl_out|required }} out
     {% else %}
 ip access-group {{ interface.acl_out|required }} out
     {% endif %}
 {% endif %}
end
{% endfor %}
