{#-
Version: 1.0.0

Sample data for this template

--- # Test data to for ios
common:
    template: ios_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: IOS-RTR02
            management_ip: 10.99.222.23
            standard_acls:
            -   acl_name: ACL-TEST-MCAST
                sequences:
                -   permit_deny: permit
                    sequence: 10
                    source_network: 224.1.2.0 0.0.0.255

                -   permit_deny: deny
                    sequence: 20
                    source_network: 224.1.3.0 0.0.0.255

                -   permit_deny: permit
                    sequence: 30
                    source_network: 224.1.4.0 0.0.0.255

            static_multicast_rps:
            -   rp_address: 172.16.1.1
                standard_acl: ACL-TEST-MCAST

-#}
{% for multicast_rp in device.static_multicast_rps %}
ip pim rp-address {{ multicast_rp.rp_address }} {{ multicast_rp.standard_acl }} override
{% endfor %}