{#-
Version: 1.0.0-dev

Sample data for this template

--- # Test data to for nxos
version: 2
data:
-   template: linux_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: SERVER00
            management_ip: 10.99.222.23
            apache2:

-#}
{% for apache in device.apache2 %}
{% if apache.os_family|lower == "debian" %}
<VirtualHost *:{{ apache.site_port }}>

 ServerName {{ apache.server_name }}
 ServerAdmin {{ apache.server_admin }}
{% endif %}

 Alias /media/ {{ apache.site_media_directory }}

 <Directory {{ apache.site_media_directory }}>
 Order deny,allow
 Require all granted
 </Directory>

 Alias /static/ {{ apache.site_static_content_directory }}

 <Directory {{ apache.site_static_content_directory }}>
 Order deny,allow
 Require all granted
 </Directory>

 WSGIScriptAlias / {{ apache.site_apache_wsgi_directory }}/django.wsgi process-group={{ apache.site_wsgi_process_group }}
 WSGIDaemonProcess {{ apache.site_wsgi_process_group }}
 WSGIProcessGroup {{ apache.site_wsgi_process_group }}

 <Directory {{ apache.site_apache_wsgi_directory }}>
 Order deny,allow
 Require all granted
 </Directory>
{% if apache.os_family|lower == "debian" %}

 # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
 # error, crit, alert, emerg.
 # It is also possible to configure the loglevel for particular
 # modules, e.g.
 LogLevel info

 ErrorLog /error.log
 CustomLog /access.log combined

</VirtualHost>
{% endif %}



{% endfor %}