{#-
Version: 1.0.0

Sample data for this template

---
common:
    template: iosxr_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: NYC-CORE-RTR00
            management_ip: 10.99.222.21
            snmp_servers:
            -   server_ip: 192.168.1.1
                server_key: somekey
                vrf: VRF_NAME
                traps: true
                informs: true

            -   server_ip: 192.168.2.1
                server_key: somekey
                vrf: VRF_NAME
                traps: true

            -   server_ip: 192.168.3.1
                server_key: somekey
                vrf: VRF_NAME
                informs: true

            -   server_ip: 192.168.4.1
                server_key: somekey
                traps: true
                informs: true

            -   server_ip: 192.168.5.1
                server_key: somekey
                traps: true

            -   server_ip: 192.168.6.1
                server_key: somekey
                informs: true

-#}
{% for snmp_serv in device.snmp_servers %}
{% if snmp_serv.vrf %}
snmp-server vrf {{ snmp_serv.vrf }}
 {% if snmp_serv.traps %}
 host {{ snmp_serv.server_ip }} traps version 2c {{ snmp_serv.server_key }}
 {% endif %}
 {% if snmp_serv.informs %}
 host {{ snmp_serv.server_ip }} informs version 2c {{ snmp_serv.server_key }}
 {% endif %}
{% else %}
  {% if snmp_serv.traps %}
snmp-server host {{ snmp_serv.server_ip }} traps version 2c {{ snmp_serv.server_key }}
  {% endif %}
  {% if snmp_serv.informs %}
snmp-server host {{ snmp_serv.server_ip }} informs version 2c {{ snmp_serv.server_key }}
  {% endif %}
{% endif %}
{% endfor %}