{#-
Version: 1.0.3
Updated: 6/1/2018

Sample data for this template

--- # Test data to for iosxr
version: 2
data:
-   template: iosxr_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: IOSXR-RTR00
            management_ip: 10.99.222.21
            mpls_pe_to_ce_route_policies:
            -   ce_name: CE_A
                primary: true
                vrf: VRF_A

-#}
{% for  mpls_pe_to_ce_route_policy in device.mpls_pe_to_ce_route_policies %}
{% if mpls_pe_to_ce_route_policy.note %}
{% set note = mpls_pe_to_ce_route_policy.note %}

{% include "common/note.jinja2" %}

{% endif %}
route-policy RP-{{ mpls_pe_to_ce_route_policy.ce_name|required }}_{{ mpls_pe_to_ce_route_policy.vrf|required }}_IN
{% if mpls_pe_to_ce_route_policy.primary %}
  set local-preference 200
{% else %}
  pass
{% endif %}
end-policy
!
route-policy RP-{{ mpls_pe_to_ce_route_policy.ce_name|required }}_{{ mpls_pe_to_ce_route_policy.vrf|required }}_OUT
  pass
end-policy
{% endfor %}
