{#-
Version: 1.0.3

Sample data for this template

---
version: 2
data:
-   template: iosxr_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: DEVICE00
            management_ip: 10.99.222.21
            mpls_vrfs:
            -   export_rts:
                -   '22650:1'
                import_rts:
                -   '22650:1'
                -   '22650:2'
                vrf: CDMI_MAIN

    -   device:
        -   devicename: DEVICE01
            management_ip: 10.99.222.22
            mpls_vrfs:
            -   export_rts:
                -   '22650:1'
                import_rts:
                -   '22650:1'
                -   '22650:2'
                vrf: CDMI_MAIN

-#}
{% for vrf in device.mpls_vrfs %}
{% if vrf.note %}
{% set note = vrf.note %}

{% include "common/note.jinja2" %}

{% endif %}
vrf {{ vrf.vrf }}
 address-family ipv4 unicast
{% if vrf.import_rts %}
  import route-target
{% for import_rt in vrf.import_rts %}
   {{ import_rt }}
{% endfor %}
  !
{% endif %}
{% if vrf.export_rts %}
  export route-target
{% for export_rt in vrf.export_rts %}
   {{ export_rt }}
{% endfor %}
{% endif %}

{% endfor %}
