{#-
Version: 1.0.7
Updated: 6/15/2018

Sample data for this template

---
version: 2
data:
-   template: iosxr_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: DEVICE00
            management_ip: 10.99.222.21
            mpls_pe_to_ce_interfaces:
            -   description: description a
                interface: g0/1
                ip: 10.1.1.1
                mask: 255.255.255.252
                tag: 701
                vrf: VRF_NAME

            -   description: description b
                interface: g0/2
                ip: 10.2.2.1
                mask: 255.255.255.252
                multicast: true
                tag: 720
                vrf: MCAST_A
    -   device:
        -   devicename: DEVICE01
            management_ip: 10.99.222.22
            mpls_pe_to_ce_interfaces:
            -   description: description a
                interface: g0/1
                ip: 10.1.1.1
                mask: 255.255.255.252
                tag: 701
                vrf: VRF_NAME

            -   description: description b
                interface: g0/2
                ip: 10.2.2.1
                mask: 255.255.255.252
                multicast: true
                tag: 720
                vrf: MCAST_A


-#}
{% for interface in device.mpls_pe_to_ce_interfaces %}
{% if interface.note %}
{% set note = interface.note %}

{% include "common/note.jinja2" %}

{% endif %}
interface {{ interface.interface|required }}
 description {{ interface.description|required }}
 vrf {{ interface.vrf|required }}
 {% if not interface.tag %}
 cdp
 {% endif %}
 {% if interface.remove %}
 no ipv4 address
 {% else %}
 ipv4 address {{ interface.ip|u_ip_address }} {{ interface.mask|mask_standard }}
 {% endif %}
 {% if interface.tag %}
 encapsulation dot1q {{ interface.tag|vlan }}
 {% endif %}

{% if interface.multicast %}
router pim
 vrf {{ interface.vrf|required }}
  address-family ipv4
   interface {{ interface.interface|required }}
   {% if interface.remove %}
    disable
   {% else %}
    enable
   {% endif %}

multicast-routing
 vrf {{ interface.vrf|required }}
  address-family ipv4
   interface {{ interface.interface|required }}
   {% if interface.remove %}
    disable
   {% else %}
    enable
   {% endif %}
{% endif %}

{% endfor %}
