{#-
Version: 1.0.4

Sample data for this template

---
version: 2
data:
-   template: iosxr_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: DEVICE00
            management_ip: 10.99.222.21
            mpls_pe_to_pe_interfaces:
            -   description: description a
                interface: g0/0
                ip: 10.1.1.1
                mask: 255.255.255.252

            -   description: description b
                interface: g0/1
                remove: true

    -   device:
        -   devicename: DEVICE01
            management_ip: 10.99.222.22
            mpls_pe_to_pe_interfaces:
            -   description: description a
                interface: g0/10
                ip: 10.1.1.1
                mask: 255.255.255.252

            -   description: description b
                interface: g0/20
                ip: 10.2.2.1
                mask: 255.255.255.252


-#}
{% for interface in device.mpls_pe_to_pe_interfaces %}

***** BEGIN config for {{ interface.interface }} *****

{% if interface.note %}
{% set note = interface.note %}

{% include "common/note.jinja2" %}

{% endif %}
interface {{ interface.interface }}
 {% if interface.remove %}
 no description
 {% else %}
 description {{ interface.description }}
 {% endif %}
 bandwidth 10000000
 cdp
 {% if interface.remove %}
 no mtu 4000
 {% else %}
 mtu 4000
 {% endif %}
 {% if interface.remove %}
 no ipv4 address
 {% else %}
 ipv4 address {{ interface.ip }} {{ interface.mask }}
 {% endif %}
 {% if interface.remove %}
 no mpls
 {% else %}
 mpls
  mtu 4000
 {% endif %}

router pim
 address-family ipv4
  interface {{ interface.interface }}
  {% if interface.remove %}
   disable
  {% else %}
   enable
  {% endif %}

multicast-routing
 address-family ipv4
  interface {{ interface.interface }}
  {% if interface.remove %}
   disable
  {% else %}
   enable
  {% endif %}

mpls ldp
 {% if interface.remove %}
 no interface {{ interface.interface }}
 {% else %}
 interface {{ interface.interface }}
 {% endif %}

mpls traffic-eng
 {% if interface.remove %}
 no interface {{ interface.interface }}
 {% else %}
 interface {{ interface.interface }}
  admin-weight 1
 {% endif %}

rsvp
 {% if interface.remove %}
 no interface {{ interface.interface }}
 {% else %}
 interface {{ interface.interface }}
  bandwidth 5000000
 {% endif %}

router ospf 1
 area 0
  {% if interface.remove %}
  no interface {{ interface.interface }}
  {% else %}
  interface {{ interface.interface }}
  {% endif %}

***** END config for {{ interface.interface }} *****

{% endfor %}
