{#-
Version: 1.0.4
Updated: 6/1/2018

Sample data for this template

--- # Test data to for nxos
version: 2
data:
-   template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: NXOS-RTR02
            management_ip: 10.99.222.23
            standard_acls:
            -   acl_name: ACL-STANDARD-1
                sequences:
                -   permit_deny: permit
                    sequence: 10
                    source_network: 192.168.1.0/24

                -   permit_deny: deny
                    sequence: 20
                    source_network: 192.168.2.0/24

                -   permit_deny: permit
                    sequence: 30
                    source_network: 192.168.3.0/24

            -   acl_name: ACL-STANDARD-2
                sequences:
                -   permit_deny: permit
                    sequence: 10
                    source_network: 192.168.4.0/24

                -   permit_deny: deny
                    sequence: 20
                    source_network: 192.168.5.0/24

                -   permit_deny: permit
                    sequence: 30
                    source_network: 192.168.6.0/24

-#}
{% for acl in device.standard_acls %}
{% if acl.note %}
{% set note = acl.note %}

{% include "common/note.jinja2" %}

{% endif %}
ip access-list {{ acl.acl_name|required }}
    {% for sequence in acl.sequences %}
  {{ sequence.sequence|number }} {{ sequence.permit_deny|p_or_d }} {{ sequence.source_network|subnet }}
    {% endfor %}
{% endfor %}