{#-
Version: 1.0.0

Sample data for this template

--- # Test data to for nxos
common:
    template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
        - device:
              - devicename: NXOS-RTR00
                management_ip: 10.99.222.21
                switched_interfaces:
                  - interface: e2/1
                    description: description switched a
                    port_type: access
                    vlan: 900

                  - interface: e2/2
                    description: description switched b
                    port_type: trunk
                    vlans: 100, 200, 300

        - device:
              - devicename: NXOS-RTR01
                management_ip: 10.99.222.22
                switched_interfaces:
                  - interface: e1/1
                    description: description switched a
                    port_type: access
                    vlan: 900
                    portfast: true

                  - interface: e1/2
                    description: description switched b
                    port_type: trunk
                    vlans: 100, 200, 300
                    portfast: true

-#}
{% for interface in device.switched_interfaces %}
interface {{ interface.interface }}
  description {{ interface.description }}
  switchport
  {% if interface.port_type == 'access' %}
  switchport mode access
  switchport access vlan {{ interface.vlan }}
  {% if interface.portfast %}
  spanning-tree port type edge
  spanning-tree bpduguard enable
  {% endif %}
  {% endif %}
  {% if interface.port_type == 'trunk' %}
  switchport mode trunk
  switchport trunk allowed vlan {{ interface.vlans }}
  {% if interface.portfast %}
  spanning-tree port type edge trunk
  spanning-tree bpduguard enable
  {% endif %}
  {% endif %}
  no shutdown

{% endfor %}