{#-
Version: 1.0.5
Updated: 5/31/2018

Sample data for this template

--- # Test data to for nxos
version: 2
data:
-   template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: NXOS-RTR00
            management_ip: 10.99.222.21
            bgp:
                bgp_as: 22650
                router_id: 172.16.1.1
                neighbors:
                -   neighbor: 192.168.5.1
                    neighbor_as: 123456
                    neighbor_bfd: true
                    neighbor_description: Test description
                    neighbor_local_as: 22650
                    neighbor_next_hop_self: true
                    neighbor_no_prepend: true
                    neighbor_password: poop
                    neighbor_route_maps:
                        route_map_in: RM-TEST-IN
                        route_map_out: RM-TEST-OUT
                    neighbor_timers:
                        hold_time: 21
                        keep_alive: 7
                    neighbor_update_source: Loopback100

                -   neighbor: 192.168.6.1
                    neighbor_as: 11111
                    neighbor_description: Test description 2
                    neighbor_local_as: 5231
                    neighbor_next_hop_self: true
                    neighbor_route_maps:
                        route_map_in: RM-TEST-IN-2
                    neighbor_timers:
                        hold_time: 63
                        keep_alive: 21
                    neighbor_update_source: Loopback100

                networks:
                - 192.168.1.1/24
                - 192.168.2.1/24

    -   device:
        -   devicename: NXOS-RTR01
            management_ip: 10.99.222.22
            bgp:
                bgp_as: 22650
                router_id: 172.16.1.1
                neighbors:
                -   neighbor: 192.168.25.1
                    neighbor_as: 123456
                    neighbor_bfd: true
                    neighbor_description: Test description
                    neighbor_local_as: 22650
                    neighbor_next_hop_self: true
                    neighbor_no_prepend: true
                    neighbor_password: poop
                    neighbor_route_maps:
                        route_map_in: RM-TEST-IN
                        route_map_out: RM-TEST-OUT
                    neighbor_update_source: Loopback100

                -   neighbor: 192.168.10.1
                    neighbor_as: 11111
                    neighbor_description: Test description 2
                    neighbor_local_as: 5231
                    neighbor_next_hop_self: true
                    neighbor_route_maps:
                        route_map_in: RM-TEST-IN-2
                    neighbor_timers:
                        hold_time: 45
                        keep_alive: 15
                    neighbor_update_source: Loopback100

                networks:
                - 192.168.25.1/24
                - 192.168.42.1/24

-#}
{% if device.bgp.note %}
{% set note = device.bgp.note %}

{% include "common/note.jinja2" %}

{% endif %}
router bgp {{ device.bgp.bgp_as|as_number }}
{% if device.bgp.router_id %}
  router-id {{ device.bgp.router_id|u_ip_address }}
  log-neighbor-changes
{% endif %}
{% if device.bgp.networks %}
  address-family ipv4 unicast
   {% for network in device.bgp.networks %}
   network {{ network }}
   {% endfor %}
{% endif %}
{% for neighbor in device.bgp.neighbors %}
{% if neighbor.note %}
{% set note = neighbor.note %}

{% include "common/note.jinja2" %}

{% endif %}
  neighbor {{ neighbor.neighbor|u_ip_address }}
    remote-as {{ neighbor.neighbor_as|as_number }}
{% if neighbor.neighbor_password %}
    password {{ neighbor.neighbor_password }}
{% endif %}
{% if neighbor.neighbor_local_as %}
    {% if neighbor.neighbor_no_prepend %}
    local-as {{ neighbor.neighbor_local_as|as_number }} no-prepend
    {% else %}
    local-as {{ neighbor.neighbor_local_as|as_number }}
    {% endif %}
{% endif %}
{% if neighbor.neighbor_description %}
    description {{ neighbor.neighbor_description }}
{% endif %}
{% if neighbor.neighbor_update_source %}
    update-source {{ neighbor.neighbor_update_source }}
{% endif %}
{% if neighbor.neighbor_bfd %}
    bfd
{% endif %}
{% if neighbor.neighbor_timers %}
    timers {{ neighbor.neighbor_timers.keep_alive }} {{ neighbor.neighbor_timers.hold_time }}
{% endif %}
    address-family ipv4 unicast
      send-community
{% if neighbor.neighbor_route_maps %}
    {% if neighbor.neighbor_route_maps.route_map_in %}
      route-map {{ neighbor.neighbor_route_maps.route_map_in }} in
    {% endif %}
    {% if neighbor.neighbor_route_maps.route_map_out %}
      route-map {{ neighbor.neighbor_route_maps.route_map_out }} out
    {% endif %}
{% endif %}
{% if neighbor.neighbor_next_hop_self %}
      next_hop_self
{% endif %}
{% endfor %}