{#-
Version: 1.0.0

Sample data for this template

--- # Test data to for nxos
common:
    template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
        - device:
            - devicename: NXOS-RTR02
              management_ip: 10.99.222.23
              as_path_acls:
                  - as_path_acl_name: ASP-TEST-1
                    sequences:
                        - sequence: 1
                          permit_deny: permit
                          regex: ^22650_26541$

                        - sequence: 2
                          permit_deny: deny
                          regex: ^_26541$

-#}
{% for as_path_acl in device.as_path_acls %}
    {% for sequence in as_path_acl.sequences %}
ip as-path access-list {{ as_path_acl.as_path_acl_name }} {{ sequence.permit_deny }} {{ sequence.regex }}
    {% endfor %}
{% endfor %}