{#-
Version: 1.0.7
Updated: 6/24/2018

Sample data for this template

--- # Test data to for nxos
version: 2
data:
-   template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: NXOS-RTR00
            management_ip: 10.99.222.21
            routed_interfaces:
            -   bfd: true
                description: description a
                interface: g0/0
                ip: 10.1.1.1
                mask: 30
                tag: 701
                turn_up: true

            -   description: description b
                interface: g0/1
                remove: true

    -   device:
        -   devicename: NXOS-RTR01
            management_ip: 10.99.222.22
            routed_interfaces:
            -   acl_in: ACL-IN
                acl_out: ACL-OUT
                description: description a
                eigrp:
                    passive: true
                    process_name: MAIN
                    summary: 0.0.0.0/0
                    summary_weight: 254
                interface: g0/10
                ip: 10.1.1.1
                mask: 30
                ospf:
                    area: 0
                    passive: true
                    process: 65000
                speed: 1g

            -   description: description b
                interface: g0/20
                ip: 10.2.2.1
                mask: 30

-#}
{% for interface in device.routed_interfaces %}
{% if interface.note %}
{% set note = interface.note %}

{% include "common/note.jinja2" %}

{% endif %}
interface {{ interface.interface|required }}
 {% if interface.vrf %}
 vrf member {{ interface.vrf|required }}
 {% endif %}
 {% if interface.speed == '1g' %}
 speed 1000
 {% endif %}
 description {{ interface.description|required }}
 {% if interface.tag %}
 encapsulation dot1q {{ interface.tag|vlan }}
 {% endif %}
 no switchport
 {% if interface.bfd %}
 bfd interval 250 min_rx 250 multiplier 3
 {% endif %}
 no ip redirects
 {% if interface.remove %}
 no ip address
 {% else %}
     {% if interface.ip != 'no_ip' %}
 ip address {{ interface.ip|u_ip_address }}/{{ interface.mask|mask_cidr }}
     {% endif %}
 {% endif %}
 {% if interface.eigrp %}
 ip router eigrp {{ interface.eigrp.process_name }}
     {% if interface.eigrp.passive %}
 ip passive-interface eigrp {{ interface.eigrp.process_name }}
     {% endif %}
     {% if interface.eigrp.summary %}
 ip summary-address eigrp {{ interface.eigrp.process_name }} {{ interface.eigrp.summary }} {{ interface.eigrp.summary_weight }}
     {% endif %}
 {% endif %}
 {% if interface.ospf %}
 ip router ospf {{ interface.ospf.process }} area {{ interface.ospf.area }}
    {% if interface.ospf.passive %}
 ip passive-interface ospf
    {% endif %}
 {% endif %}
 {% if interface.acl_in %}
 ip access-group {{ interface.acl_in }} in
 {% endif %}
 {% if interface.acl_out %}
 ip access-group {{ interface.acl_out }} out
 {% endif %}
 {% if interface.turn_up %}
 no shutdown
 {% endif %}
{% endfor %}
