{#-
Version: 1.0.3
Updated: 6/1/2018

Sample data for this template

--- # Test data to for nxos
version: 2
data:
-   template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: NXOS-RTR02
            management_ip: 10.99.222.23
            as_path_acls:
            -   as_path_acl_name: ASP-TEST-1
                sequences:
                -   permit_deny: permit
                    regex: ^22650_26541$
                    sequence: 1

                -   permit_deny: deny
                    regex: ^_26541$
                    sequence: 2

-#}
{% for as_path_acl in device.as_path_acls %}
{% if as_path_acl.note %}
{% set note = as_path_acl.note %}

{% include "common/note.jinja2" %}

{% endif %}
    {% for sequence in as_path_acl.sequences %}
ip as-path access-list {{ as_path_acl.as_path_acl_name|required }} {{ sequence.permit_deny|p_or_d }} {{ sequence.regex }}
    {% endfor %}
{% endfor %}