{#-
Version: 1.0.4
Updated: 6/1/2018

Sample data for this template

--- # Test data to for nxos
version: 2
data:
-   template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: NXOS-RTR02
            management_ip: 10.99.222.23
            route_maps:
            -   route_map_name: RM-TEST-MCAST
                sequences:
                -   description: Mcast IP 1
                    match:
                    -   match_item: ip multicast group
                        match_item_name: 224.0.1.5/32
                    permit_deny: permit
                    sequence: 10

                -   description: Mcast IP 2
                    match:
                    -   match_item: ip multicast group
                        match_item_name: 224.0.10.5/32
                    permit_deny: permit
                    sequence: 20

            static_multicast_rps:
            -   route_map: RM-TEST-MCAST
                rp_address: 172.16.1.1

-#}
{% for multicast_rp in device.static_multicast_rps %}
{% if multicast_rp.note %}
{% set note = multicast_rp.note %}

{% include "common/note.jinja2" %}

{% endif %}
ip pim rp-address {{ multicast_rp.rp_address|u_ip_address }} route-map {{ multicast_rp.route_map|required }}
{% endfor %}