{#-
Version: 1.0.0

Sample data for this template

--- # Test data to for nxos
common:
    template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
        - device:
              - devicename: NXOS-RTR02
                management_ip: 10.99.222.23
                standard_acls:
                  - acl_name: ACL-STANDARD-1
                    sequences:
                      - sequence: 10
                        permit_deny: permit
                        source_network: 192.168.1.0/24

                      - sequence: 20
                        permit_deny: deny
                        source_network: 192.168.2.0/24

                      - sequence: 30
                        permit_deny: permit
                        source_network: 192.168.3.0/24

                  - acl_name: ACL-STANDARD-2
                    sequences:
                      - sequence: 10
                        permit_deny: permit
                        source_network: 192.168.4.0/24

                      - sequence: 20
                        permit_deny: deny
                        source_network: 192.168.5.0/24

                      - sequence: 30
                        permit_deny: permit
                        source_network: 192.168.6.0/24

-#}
{% for acl in device.standard_acls %}
ip access-list standard {{ acl.acl_name }}
    {% for sequence in acl.sequences %}
  {{ sequence.sequence }} {{ sequence.permit_deny }} {{ sequence.source_network }}
    {% endfor %}
{% endfor %}