{#-
Version: 1.0.2

Sample data for this template

--- # Test data to for nxos
version: 2
data:
-   template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: NXOS-RTR01
            management_ip: 10.99.222.22
            route_maps:
            -   route_map_name: RM-TEST-1
                sequences:
                -   description: test description
                    match:
                    -   match_item: access-list
                        match_item_name: ACL-A-in
                    -   match_item: access-list
                        match_item_name: ACL-B-in
                    permit_deny: permit
                    sequence: 10
                    set:
                    -   set_item: local preference
                        set_item_to: 200

                -   description: test description
                    match:
                    -   match_item: ip address prefix-list
                        match_item_name: PL-TEST-1
                    permit_deny: deny
                    sequence: 20
                    set:
                    -   set_item: local preference
                        set_item_to: 500

                -   match:
                    -   match_item: access-list
                        match_item_name: ACL-C-in
                    permit_deny: permit
                    sequence: 30
                    set:
                    -   set_item: local preference
                        set_item_to: 200

Notes:

match_item options

ip address prefix-list
as-path
ip address
community
extcommunity
ip multicast group

set_item options

local-preference
weight
community
as-path prepend
as-path prepend last-as

-#}
{% for route_map in device.route_maps %}
{% if route_map.note %}
{% set note = route_map.note %}

{% include "common/note.jinja2" %}

{% endif %}
    {% for sequence in route_map.sequences %}
route-map {{ route_map.route_map_name }} {{ sequence.permit_deny }} {{ sequence.sequence }}
{% if sequence.description %}
  description {{ sequence.description }}
{% endif %}
        {% for match in sequence.match %}
  match {{ match.match_item }} {{ match.match_item_name }}
        {% endfor %}
        {% if sequence.continue %}
  continue {{ sequence.continue }}
        {% endif %}
        {% for set in sequence.set %}
  set {{ set.set_item }} {{ set.set_item_to }}
        {% endfor %}
    {% endfor %}
{% endfor %}