{#-
Version: 1.0.1

Sample data for this template

--- # Test data to for nxos
common:
    template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: NXOS-RTR00
            management_ip: 10.99.222.21
            switched_interfaces:
            -   description: description switched a
                interface: e2/1
                port_type: access
                vlan: 900

            -   description: description switched b
                interface: e2/2
                port_type: trunk
                vlans: 100, 200, 300

    -   device:
        -   devicename: NXOS-RTR01
            management_ip: 10.99.222.22
            switched_interfaces:
            -   description: description switched a
                interface: e1/1
                port_type: access
                portfast: true
                vlan: 900

            -   description: description switched b
                interface: e1/2
                port_type: trunk
                portfast: true
                vlans: 100, 200, 300

-#}
{% for interface in device.switched_interfaces %}
{% if interface.note %}
{% set note = interface.note %}

{% include "common/note.jinja2" %}

{% endif %}
interface {{ interface.interface }}
  description {{ interface.description }}
  switchport
  {% if interface.port_type == 'access' %}
  switchport mode access
  switchport access vlan {{ interface.vlan }}
  {% if interface.portfast %}
  spanning-tree port type edge
  spanning-tree bpduguard enable
  {% endif %}
  {% endif %}
  {% if interface.port_type == 'trunk' %}
  switchport mode trunk
  switchport trunk allowed vlan {{ interface.vlans }}
  {% if interface.portfast %}
  spanning-tree port type edge trunk
  spanning-tree bpduguard enable
  {% endif %}
  {% endif %}
  no shutdown

{% endfor %}