{#-
Version: 1.0.0

Sample data for this template

This is to get you up and running in a lab at this time, it allows you to focus on the vxlan/evpn config

--- # Test data to for nxos
version: 2
data:
-   template: nxos_base.jinja2
    ticket_number: TKTNUMBER01
    devices:
    -   device:
        -   devicename: NXOS-RTR02
            management_ip: 10.99.222.23
            vxlan_evpn_leafs:
            -   protocol_peering_ip: 1.1.1.1
                anycast_ip: 2.2.2.2
                vtep_ip: 3.3.3.3
                anycast_gw_mac: 0000.1111.3333
                bgp_as: 65000
                bfd: true
                boot_os: nxos.7.0.3.I7.3.bin

                spine_peers_ospf:
                -   local_spine_interface: 1/1
                    local_spine_ip: 10.10.10.0

                -   local_spine_interface: 1/2
                    local_spine_ip: 10.10.10.2

                spine_peers_bgp:
                -   10.10.10.10
                -   20.20.20.20

-#}
{% for vxlan_evpn_leaf in device.vxlan_evpn_leafs %}
nv overlay evpn
feature ospf
feature bgp
feature pim
    {% if vxlan_evpn_leaf.bfd==true %}
feature bfd
    {% endif %}
feature interface-vlan
feature vn-segment-vlan-based
feature nv overlay
fabric forwarding anycast-gateway-mac {{ vxlan_evpn_leaf.anycast_gw_mac }}
hardware access-list tcam region racl 512
hardware access-list tcam region arp-ether 256 double-wide
    {% if vxlan_evpn_leaf.boot_os %}
boot nxos bootflash:/{{ vxlan_evpn_leaf.boot_os }}
    {% endif %}

router ospf UNDERLAY
  router-id {{ vxlan_evpn_leaf.protocol_peering_ip }}
    {% if vxlan_evpn_leaf.bfd==true %}
  bfd
    {% endif %}

interface loopback0
  description BGP Peering BGP Router ID OSPF Router ID
  ip address {{ vxlan_evpn_leaf.protocol_peering_ip }}/32
  ip router ospf UNDERLAY area 0
  ip ospf network point-to-point
  ip pim sparse-mode

interface loopback1
  description VTEP IP
  ip address {{ vxlan_evpn_leaf.vtep_ip }}/32
  ip router ospf UNDERLAY area 0
  ip ospf network point-to-point
  ip pim sparse-mode

ip pim rp-address {{ vxlan_evpn_leaf.anycast_ip }} group-list 239.0.0.0/8
ip pim ssm range 232.0.0.0/8

    {% for spine_peer_ospf in vxlan_evpn_leaf.spine_peers_ospf %}
interface Ethernet{{ spine_peer_ospf.local_spine_interface }}
  description Link to Spine
  no switchport
  mtu 9216
  no ip redirects
  ip address {{ spine_peer_ospf.local_spine_ip }}/31
  ip router ospf UNDERLAY area 0
  ip ospf network point-to-point
        {% if vxlan_evpn_leaf.bfd==true %}
  bfd interval 250 min_rx 250 multiplier 3
        {% endif %}
  ip pim sparse-mode
  no shutdown

    {% endfor %}

interface nve1
  no shutdown
  source-interface loopback1
  host-reachability protocol bgp

router bgp {{ vxlan_evpn_leaf.bgp_as }}
  router-id {{ vxlan_evpn_leaf.protocol_peering_ip }}
    {% for spine_peer_bgp in vxlan_evpn_leaf.spine_peers_bgp %}
  neighbor {{ spine_peer_bgp }} remote-as {{ vxlan_evpn_leaf.bgp_as }}
    update-source loopback0
    address-family l2vpn evpn
      send-community both
    {% endfor %}

{% endfor %}