{#-
Version: 1.0.3
Updated: 5/31/2018

Sample data for this template

--- # Test data to for nxos
version: 2
data:
-   template: nxos_base.jinja2
    ticket_number: CHG123456789
    devices:
    -   device:
        -   devicename: NXOS-RTR02
            management_ip: 10.99.222.23
            ospf:
                bfd: true
                ospf_process: 65000
                router_id: 172.16.1.1

-#}
{% if device.ospf.note %}
{% set note = device.ospf.note %}

{% include "common/note.jinja2" %}

{% endif %}
feature ospf
router ospf {{ device.ospf.ospf_process }}
  {% if device.ospf.bfd %}
  bfd
  {% endif %}
  router-id {{ device.ospf.router_id|u_ip_address }}