{#-
Version: 1.0.1
Updated: 5/31/2018

Sample data for this template

This is to get you up and running in a lab at this time

--- # Test data to for nxos
version: 2
data:
-   template: nxos_base.jinja2
    ticket_number: TKTNUMBER01
    devices:
    -   device:
        -   devicename: NXOS-RTR02
            management_ip: 10.99.222.23
            vxlan_evpn_spines:
            -   protocol_peering_ip: 1.1.1.1
                anycast_ip: 2.2.2.2
                vtep_ip: 3.3.3.3
                bgp_as: 65000
                bfd: true
                boot_os: nxos.7.0.3.I7.3.bin

                anycast_peers:
                -   4.4.4.4
                -   5.5.5.5

                leaf_peers_ospf:
                -   local_leaf_interface: 1/1
                    local_leaf_ip: 10.10.10.0

                -   local_leaf_interface: 1/2
                    local_leaf_ip: 10.10.10.2

                leaf_peers_bgp:
                -   10.10.10.10
                -   20.20.20.20

-#}
{% for vxlan_evpn_spine in device.vxlan_evpn_spines %}
nv overlay evpn
feature ospf
feature bgp
feature pim
    {% if vxlan_evpn_spine.bfd==true %}
feature bfd
    {% endif %}
    {% if vxlan_evpn_spine.boot_os %}
boot nxos bootflash:/{{ vxlan_evpn_spine.boot_os }}
    {% endif %}

interface loopback0
  description BGP Peering BGP Router ID OSPF Router ID
  ip address {{ vxlan_evpn_spine.protocol_peering_ip|u_ip_address }}/32
  ip router ospf UNDERLAY area 0
  ip ospf network point-to-point
  ip pim sparse-mode

interface loopback1
  description Anycast RP IP
  ip address {{ vxlan_evpn_spine.anycast_ip|u_ip_address }}/32
  ip router ospf UNDERLAY area 0
  ip ospf network point-to-point
  ip pim sparse-mode

interface loopback2
  description VTEP IP
  ip address {{ vxlan_evpn_spine.vtep_ip|u_ip_address }}/32
  ip router ospf UNDERLAY area 0
  ip ospf network point-to-point
  ip pim sparse-mode

ip pim rp-address {{ vxlan_evpn_spine.anycast_ip|u_ip_address }} group-list 239.0.0.0/8
ip pim rp-candidate loopback1 group-list 239.0.0.0/8
ip pim ssm range 232.0.0.0/8
ip pim anycast-rp {{ vxlan_evpn_spine.anycast_ip|u_ip_address }} {{ vxlan_evpn_spine.protocol_peering_ip|u_ip_address }}
    {% for anycast_peer in vxlan_evpn_spine.anycast_peers %}
ip pim anycast-rp {{ vxlan_evpn_spine.anycast_ip|u_ip_address }} {{ anycast_peer|u_ip_address }}
    {% endfor %}

router ospf UNDERLAY
  router-id {{ vxlan_evpn_spine.protocol_peering_ip|u_ip_address }}
    {% if vxlan_evpn_spine.bfd==true %}
  bfd
    {% endif %}

    {% for leaf_peer_ospf in vxlan_evpn_spine.leaf_peers_ospf %}
interface Ethernet{{ leaf_peer_ospf.local_leaf_interface }}
  description Link to leaf
  no switchport
  mtu 9216
  no ip redirects
  ip address {{ leaf_peer_ospf.local_leaf_ip|u_ip_address }}/31
  ip router ospf UNDERLAY area 0
  ip ospf network point-to-point
  ip pim sparse-mode
        {% if vxlan_evpn_spine.bfd==true %}
  bfd interval 250 min_rx 250 multiplier 3
        {% endif %}
  no shutdown

    {% endfor %}

router bgp {{ vxlan_evpn_spine.bgp_as|as_number }}
  router-id {{ vxlan_evpn_spine.protocol_peering_ip|u_ip_address }}
    {% for leaf_peer_bgp in vxlan_evpn_spine.leaf_peers_bgp %}
  neighbor {{ leaf_peer_bgp|u_ip_address }} remote-as {{ vxlan_evpn_spine.bgp_as|as_number }}
    update-source loopback0
    address-family l2vpn evpn
      send-community both
      route-reflector-client

     {% endfor %}

{% endfor %}