{#-
Version: 1.0.5

Sample data for this template

---
common:
    template: iosxr_base.jinja2
    ticket_number: CHG123456789
    custom_ticket_header: Something CHG123456789

-#}
{% if ticket_number %}
Ticket Number: {{ ticket_number }}
{% endif %}
{% if custom_ticket_header %}
{{ custom_ticket_header }}
{% endif %}
{% for device_info in devices %}
    {% for device in device_info.device %}

<{{ device.devicename }}, {{ device.management_ip }}>

{% if device.mpls_vrfs %}
{% include "iosxr_standard/iosxr_mpls_vrfs.jinja2" %}

{% endif %}
{% if device.mpls_pe_to_pe_interfaces %}
{% include "iosxr_standard/iosxr_mpls_pe_to_pe__interface.jinja2" %}

{% endif %}
{% if device.mpls_pe_to_ce_interfaces %}
{% include "iosxr_standard/iosxr_mpls_pe_to_ce_interface.jinja2" %}

{% endif %}
{% if device.mpls_te_tunnel_interfaces %}
{% include "iosxr_standard/iosxr_mpls_te_tunnel_interface.jinja2" %}

{% endif %}
{% if device.ntp_servers %}
{% include "iosxr_standard/iosxr_ntp_servers.jinja2" %}

{% endif %}
{% if device.snmp_servers %}
{% include "iosxr_standard/iosxr_snmp_servers.jinja2" %}

{% endif %}
{% if device.mpls_pe_to_ce_route_policies %}
{% include "iosxr_standard/iosxr_mpls_pe_to_ce_route_policy.jinja2" %}

{% endif %}
{% if device.bgp %}
{% include "iosxr_standard/iosxr_bgp.jinja2" %}

{% endif %}
</{{ device.devicename }}, {{ device.management_ip }}>

    {% endfor %}
{% endfor %}
