{#-
Version: 1.0.1-dev
Updated: 5/30/2018

Sample data for this template

---
version: 2
data:
-   template: linux_base.jinja2
    ticket_number: CHG123456789
    custom_ticket_header: Something CHG123456789

-#}
{% if ticket_number %}
Ticket Number: {{ ticket_number }}
{% endif %}
{% if custom_ticket_header %}
{{ custom_ticket_header|safe }}
{% endif %}
{% for device_info in devices %}
    {% for device in device_info.device %}
{% if device.management_ip %}
<{{ device.devicename }}, {{ device.management_ip|u_ip_address }}>
{% else %}
<{{ device.devicename }}>
{% endif %}

{% if device.note %}
{% set note = device.note %}

{% include "common/note.jinja2" %}

{% endif %}
{% if device.apache2 %}
{% include "linux_standard/linux_apache2.jinja2" %}

{% endif %}
{% if device.management_ip %}
</{{ device.devicename }}, {{ device.management_ip|u_ip_address }}>
{% else %}
</{{ device.devicename }}>
{% endif %}

    {% endfor %}
{% endfor %}