{#-
Version: 1.0.9
Updated: 6/18/2018

Sample data for this template

---
version: 2
data:
-   template: nxos_base.jinja2
    ticket_number: CHG123456789
    custom_ticket_header: Something CHG123456789

-#}
{% if ticket_number %}
Ticket Number: {{ ticket_number }}
{% endif %}
{% if custom_ticket_header %}
{{ custom_ticket_header|safe }}
{% endif %}
{% for device_info in devices %}
    {% for device in device_info.device %}
{% if device.management_ip %}
<{{ device.devicename }}, {{ device.management_ip|u_ip_address }}>
{% else %}
<{{ device.devicename }}>
{% endif %}
{% if device.note %}
{% set note = device.note %}

{% include "common/note.jinja2" %}

{% endif %}
{% if device.routed_interfaces %}
{% include "nxos_standard/nxos_routed_interface.jinja2" %}

{% endif %}
{% if device.switched_interfaces %}
{% include "nxos_standard/nxos_switched_interface.jinja2" %}

{% endif %}
{% if device.standard_acls %}
{% include "nxos_standard/nxos_standard_acl.jinja2" %}

{% endif %}
{% if device.extended_acls %}
{% include "nxos_standard/nxos_extended_acl.jinja2" %}

{% endif %}
{% if device.prefix_lists %}
{% include "nxos_standard/nxos_prefix_list.jinja2" %}

{% endif %}
{% if device.standard_community_lists %}
{% include "nxos_standard/nxos_standard_community_list.jinja2" %}

{% endif %}
{% if device.expanded_community_lists %}
{% include "nxos_standard/nxos_expanded_community_list.jinja2" %}

{% endif %}
{% if device.as_path_acls %}
{% include "nxos_standard/nxos_as_path_acl.jinja2" %}

{% endif %}
{% if device.route_maps %}
{% include "nxos_standard/nxos_route_map.jinja2" %}

{% endif %}
{% if device.static_multicast_rps %}
{% include "nxos_standard/nxos_static_multicast_rp.jinja2" %}

{% endif %}
{% if device.static_nats %}
{% include "nxos_standard/nxos_static_nat.jinja2" %}

{% endif %}
{% if device.eigrp %}
{% include "nxos_standard/nxos_eigrp.jinja2" %}

{% endif %}
{% if device.ospf %}
{% include "nxos_standard/nxos_ospf.jinja2" %}

{% endif %}
{% if device.bgp %}
{% include "nxos_standard/nxos_bgp.jinja2" %}

{% endif %}
{% if device.vxlan_evpn_spines %}
{% include "nxos_standard/nxos_vxlan_evpn_spine.jinja2" %}

{% endif %}
{% if device.vxlan_evpn_leafs %}
{% include "nxos_standard/nxos_vxlan_evpn_leaf.jinja2" %}

{% endif %}
{% if device.vxlan_evpn_l3vnis %}
{% include "nxos_standard/nxos_vxlan_evpn_l3vni.jinja2" %}

{% endif %}
{% if device.vxlan_evpn_l2vnis %}
{% include "nxos_standard/nxos_vxlan_evpn_l2vni.jinja2" %}

{% endif %}
{% if device.management_ip %}
</{{ device.devicename }}, {{ device.management_ip|u_ip_address }}>
{% else %}
</{{ device.devicename }}>
{% endif %}

    {% endfor %}
{% endfor %}
